<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoDI" version="4.0.2-ci51" targetFramework="net48" />
  <package id="AutoDI.Build" version="4.0.2-ci51" targetFramework="net48" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net471" />
  <package id="CSharpFunctionalExtensions" version="2.2.2" targetFramework="net48" />
  <package id="DumpExtensions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>